.container {
    text-align: center;
    padding: 20px;
    color:#ccc;
  }

  select {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-bottom: 20px;
    color: rgb(223, 93, 0);
    font-weight: bold;
    background-color: #eee7e7;
  }

  label {
    font-size: 18px;
    margin-right: 10px;
    font-weight: bold;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    background-color: white;
    color: #1a1919;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    width: 200px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    width: 100px;
    height: 100px;
  }
  
  .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ffcc00;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #e6b800;
  }
  